*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	overflow-x: hidden;
}
p {
	margin: 0;
}

.wrapper {
	padding: 20px;
}
.ant-card-body {
	padding: 1rem 0;
}
.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 2rem;
	font-weight: 600;
}
